.total-rating
  %h1 4.9
  %h4 /5 from 678 users 

.rating-details
  %h4 Your rating:
  =form_for @movie_rating do |f|
    =f.hidden_field :movie_id, value: params[:id]      
    #raty-stars{ 'data-score' => "#{@movie_rating.score}" }
  %br/
  %em (You can update it, whenever you want.)