.row.about
  .col-md-10.col-md-offset-1
    .card  
      %h1 What is it all about?
      %p Welcome on a movie revie page. After you create an account, you will be able to add new movie, write a review and comment a review. But remember! If you write bullshits, other users will downvote your review.
