.row.about
  .col-md-10.col-md-offset-1
    %h1 What is it all about?
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis facilis iusto eos quas tenetur incidunt repudiandae explicabo, maiores nobis laudantium. Magnam placeat nulla, doloremque culpa amet explicabo excepturi molestias iste! Lorem
