<div class="container-fluid no-padding">
    <div class="big-image">
        <%= image_tag('animal.jpg') %> 
        <%= link_to image_tag('bubble.png', :id => 'bubble'), new_user_registration_path %> 
    </div>
</div>