<%= render 'about' unless user_signed_in? %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="recent-gallery">

      <h1>Recently added</h1>      

      <% @movies.each do |movie| %>
        <div>
          <%= link_to(movie) do %>
            <%= image_tag movie.poster %>
            <h4><%= movie.title %></h4>
          <% end %>
        </div>  
      <% end %>

    </div>
  </div>
</div>
