%section.comment
  %table
    %tr.details
      %td
        %em
          author: #{comment.user.username} | posted: #{time_ago_in_words(comment.created_at)} ago.
    %tr.content
      %td= comment.content
