.new-comment {
  display: none;
  margin-top: 10px;
  .btn {
    margin-top: 10px;
  }
}

.comments {
  .toggle-comments {
    text-align: center;
    span:last-child {
      display: none;
    }
  }
  margin-left: 100px;
  em {
    font-size: 0.85em;
  }
  .comment {
    border: $smoke-style;
    border-radius: 2px;
    margin-top: 10px;
    table {
      width: 100%;
    }
    td {
      padding: 5px 15px 5px 15px;
    }
    tr:first-child {
      border-bottom: $smoke-style;
    }
  }
  .comment:not(:last-of-type) {
    display: none;
  }
}
