// header 
// ------------------------------------------------------------

#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #777;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
&:hover {
  text-decoration: none;
  }
}

.navbar-default {
  background-color: #ffffff;
  li:hover {
    background-color: #F2F1EF;
  }
}

// footer 
// ------------------------------------------------------------

footer {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  position: absolute;
  bottom: 0;
  left: 0;
    display: table;
    .container-fluid {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      p {
        margin: 0;
      }
    }
  img {
    margin-left: 10px;
    height: 25px;
    width: auto;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}