@import "bootstrap-sprockets";
@import "bootstrap";

// ------------------------------------------------------------
// VARIABLES - UNIVERSAL 
// ------------------------------------------------------------

$lgrey: #ddd; // light grey
$smoke-style: 1px solid $lgrey; // border style

// ------------------------------------------------------------
// UNIVERSAL 
// ------------------------------------------------------------

.container {
  padding-top: 20px;
}

.no-padding {
  padding: 0;
}

body {
  padding-top: 50px;
  margin-bottom: 100px; // height of footer + margin

}

html {
  position: relative;
  min-height: 100%;
}

.border {
  border: 1px solid #e2e2e2;
  padding: 10px;
}

.valid-alert {
  color: red;
  margin: 10px 0;
}

.alert-alert {
  @extend .alert-warning
}

.alert-notice {
  @extend .alert-success
}



// ------------------------------------------------------------
// HEADER 
// ------------------------------------------------------------

#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #777;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
&:hover {
  text-decoration: none;
  }
}

.navbar-default {
  background-color: #ffffff;
  li:hover {
    background-color: #F2F1EF;
  }
}

// ------------------------------------------------------------
// FOOTER 
// ------------------------------------------------------------

footer {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  position: absolute;
  bottom: 0;
  left: 0;
}

// ------------------------------------------------------------
// HOME PAGE
// ------------------------------------------------------------

.big-image {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  #bubble {
    position: absolute;
    left: 40%;
    top: 22%;
    width: 40%;
    height: auto;
    opacity: 0.7;
    &:hover {
      opacity: 0.9;
    }
  }
}

.home-poster {
  height: 189px;
  width: 189px;
  background-color: #bdbdbd;
  float:left;
  border: 1px solid black; 
}

// ------------------------------------------------------------
// FORM INLINE
// ------------------------------------------------------------

.form-inline{
  .form-group{
    width: 100%;
    .form-control {
      width: 80%;
      .btn {
        width: 20%;
      }
    }
  }
}

// ------------------------------------------------------------
// SEARCH INFO (in omdb)
// ------------------------------------------------------------

.omdb-search {
  width: 80%;
  padding-top: 20px;
  a:hover {
    background-color: #E4F1FE;
  }
}

// ------------------------------------------------------------
// MOVIE SHOW PAGE
// ------------------------------------------------------------

.movie-informations {
  .poster {
    img {
      margin-top: 25px;
    }
  }
}

.movie-details {
  h1 {
    border-bottom: $smoke-style;
  }
  span:nth-child(2) {
    font-size: 0.5em;
  }
  .table {
    border-bottom: $smoke-style;
  }
}

// ------------------------------------------------------------
// MOVIE INDEX PAGE
// ------------------------------------------------------------

$index_poster_width: 50px;

.movie-index {
  table {
    width: 100%;
  }
  tr {
    &:hover {
      background-color: #E4F1FE;
    }
    img {
      width: $index_poster_width;
      height: auto;
    }
    span {
      font-size: 0.9em;
      font-style: italic;
    }
    a {
      color: #333333;
      font-size: 1.3em;
    }
  }
  td:first-child {
    width: $index_poster_width;
  }
  td:nth-child(2) {
    padding: 0 50px; // top = 0, right and left = XXpx
  }
}

.sort-opt {
  margin-bottom: 10px;
  a {
    color: #333333;
    font-size: 1.2em;
    &:hover {
      text-decoration: none;
    }
    span {
      padding: 5px 20px 5px 5px;
    }
  }
  .current {
    background-color: #E4F1FE;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 0.7em;
  }
  .asc {
    background-image: url('up_triangle.svg');
  }
  .desc {
    background-image: url('down_triangle.svg');
  }
}

#arrow {
  fill: red;
}

// padding, margin: TOP RIGHT BOTTOM LEFT